/* body {
  background-color: rgb(83, 86, 182);
}

.assignment-container {
  width: 70%;
  height: 100vh;
  margin: 5rem auto;
  background-color: white;
  border-radius: 3rem;
  color: black;
}

.progress {
  display: flex;
  gap: 0.5rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 10rem;
  height: 0.7rem;
  width: 7rem;
  background-color: rgb(186, 184, 184);
}

.lifespan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: red;
}

.lives {
  font-size: 1.5rem;
}

ul {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="radio"] {
  height: 1.2rem;
}

label {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  border: 2px solid rgb(213, 211, 211);
  border-radius: 0.5rem;
  padding: 1rem;
}

button {
  background-color: rgb(83, 86, 182);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
} */
