
.page {
	padding: 20px;
	background-color:#586FB5;
	height: 100vh;

}

h1 {
	text-align: center;
	
}

.page-container {
	max-width: 80vw;
	margin: 0 auto;
}

.modal {
	display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:#586FB5;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:#586FB5; 
    z-index: 9998; 
    }

.overlay.active {
	display: block; 
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 80vw;
	height: auto;
	margin: 0 auto;
	border-radius: 64px;
	padding: 50px;
	gap: 32px;
	overflow: visible;
}

.btn-holder {
	display: flex;
	justify-content: space-between;
}

.chooseBtn {
	margin-left: 10px;
	background-color: #586FB5;
	padding: 12px;
	border-radius: 7px;
	color: white;
}
.progress-bar {
	display: flex;
	flex-direction: row!important;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%; 
}

.progress-div {
	background-color: #e1c699;
	height: 10px;
	width: 70px;
	border-radius: 10px;
}

.solution {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(241, 173, 173);
	width: auto;
	height: auto;
	margin: 0 auto;
	border-radius: 64px;
	padding: 50px;
	gap: 32px;
	overflow: visible;
	margin-top: 10px;
	z-index: 10;
}

@media screen and (max-width: 600px) {
	.progress-div {
		width: 40px;
	}
  }
