@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    display: grid;
    height: 100dvh;
    min-height: 100%;
    place-items: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
